<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
    <style>
        textarea {
            overflow: hidden;
            resize: none;
        }
    </style>
</head>
<!-- Bootstrap -->
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<!-- CSS Personalizado -->
<link rel="stylesheet" href="../public/css/style.css">
<!-- impedir a execução de scripts externos ou não autorizados -->
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">

<body>
    <div class="container">
        <form class="mt-2 row g-3">

            <!-- OS -->
            <div class="col-md-4">
                <label class="form-label">Nº OS</label>
                <input type="text" class="form-control" id="txtOs" disabled>
            </div>

            <!-- Data -->
            <div class="col-md-3">
                <label class="form-label">Data</label>
                <input type="text" class="form-control" id="txtData" disabled>
            </div>

            <!-- Buscar cliente -->
            <div class="col-md-5">
                <label for="inputSearchClient" class="form-label">Buscar Cliente</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputSearchClient" spellcheck="false" required maxlength="30">
                    <span class="input-group-text">
                        <img src="../public/img/cliente.png" alt="lupa" width="20">
                    </span>
                </div>
            </div>

            <!-- Nome -->
            <div class="col-md-5">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" maxlength="30" disabled>
            </div>

            <!-- Telefone -->
            <div class="col-md-3">
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15"
                    disabled>
            </div>

            <!-- CPF -->
            <div class="col-md-4">
                <label for="inputCPFClient" class="form-label">CPF</label>
                <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" maxlength="15" disabled>
            </div>

            <!-- Linha -->
            <hr class="mt-4 border border-secondary border -1">

       

            <!-- Descrição do Serviço -->
            <div class="col-md-12">
                <label for="serviceDescription" class="form-label">Descrição do Serviço</label>
                <textarea class="form-control" id="serviceDescription" rows="3" maxlength="200" required></textarea>
            </div>

            <!-- Data de Início -->
            <div class="col-md-6">
                <label for="startDate" class="form-label">Data de Início</label>
                <input type="date" class="form-control" id="startDate" required>
            </div>

            <!-- Data de Conclusão -->
            <div class="col-md-6">
                <label for="endDate" class="form-label">Data de Conclusão</label>
                <input type="date" class="form-control" id="endDate">
            </div>

            <!-- Status -->
            <div class="col-md-6">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" name="status">
                    <option value="pendente">Pendente</option>
                    <option value="em andamento">Em andamento</option>
                    <option value="concluída">Concluída</option>
                </select>
            </div>

                <!-- Forma de pagamento -->
                <div class="col-md-3">
                    <label for="inputpagamentoClient" class="form-label">Forma de pagamento</label>
                    <select type="text" class="form-select" id="inputpagamentoClient" spellcheck="false" required maxlength="20">
                        <option value=""></option>
                        <option>Pix</option>
                        <option>Cartão Débito</option>
                        <option>Cartão Crédito</option>
                        <option>Dinheiro</option>
                        <option>Boleto</option>
                    </select>
                   </div>
        

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreateOS">Criar Ordem de Serviço</button>
                <button type="button" class="btn btn-warning" id="btnUpdateOS">Editar Ordem de Serviço</button>
                <button type="button" class="btn btn-danger" id="btnDeleteOS">Excluir Ordem de Serviço</button>
                <button type="reset" class="btn btn-secondary" id="btnResetOS">Limpar</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>

</body>
</html>
