@charset "utf-8";

/* Estilo dos botões (tela principal) */
.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    transition: transform 0.3s ease; /* Adiciona um efeito suave no hover */

 
}

.button img:hover {
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}


/* botão reset */
#btnReset {
    width: 40px;
    height: 40px;
    background-image: url(../img/vassoura.png);
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#logo {
    position: fixed;
height: 300px;

    bottom: 0px;
    right: 5px;
    border: none;
    cursor: none;
}

/* ocultar o campo id do cliente */

#idClient {
    display: none;
}

/* Rodapé fixo */
footer {
    width: 100%;
    height: 42px;
    text-align: center;
    background-color: rgb(35, 35, 37);
    position: fixed;
    bottom: 0;
    left: 0; /* Garante que o rodapé fique alinhado à esquerda */
    z-index: 1000; /* Garante que o rodapé esteja acima de outros elementos */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(141, 0, 0);
}

footer p {
    color: #ffffff;
  
    margin: 20px 20px; /* Remove a margem padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold

}

/* Ajuste para o conteúdo não ficar atrás do rodapé */
body {
    padding-bottom: 60px; /* Ajuste para evitar que o conteúdo fique atrás do rodapé */
  
}

